:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color: #222;
	background-color: #ffffff;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

#app {
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
}